<form method="post" action="{{ path('interim_history_delete', {'id': interim_history.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interim_history.id) }}">
    <button class="btn">Delete</button>
</form>
