{% extends 'base.html.twig' %}

{% block title %}Edit DailyMedications{% endblock %}

{% block body %}
    <h1>Edit DailyMedications</h1>

    {{ include('daily_medications/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('daily_medications_index') }}">back to list</a>

    {{ include('daily_medications/_delete_form.html.twig') }}
{% endblock %}
