{% extends 'base.html.twig' %}

{% block title %}New DailyMedications{% endblock %}

{% block body %}
    <h1>Create new DailyMedications</h1>

    {{ include('daily_medications/_form.html.twig') }}

    <a href="{{ path('daily_medications_index') }}">back to list</a>
{% endblock %}
