{% extends 'base.html.twig' %}

{% block title %}Edit HealthMaintenance{% endblock %}

{% block body %}
    <h1>Edit HealthMaintenance</h1>

    {{ include('health_maintenance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('health_maintenance_index') }}">back to list</a>

    {{ include('health_maintenance/_delete_form.html.twig') }}
{% endblock %}
