{% extends 'base.html.twig' %}

{% block title %}New HealthMaintenance{% endblock %}

{% block body %}
    <h1>Create new HealthMaintenance</h1>

    {{ include('health_maintenance/_form.html.twig') }}

    <a href="{{ path('health_maintenance_index') }}">back to list</a>
{% endblock %}
